<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.co2tracker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".CO2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CO2Tracker">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.CO2Tracker"
            android:noHistory="true"
            android:configChanges="locale|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CO2Tracker"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            android:configChanges="locale|orientation|screenSize" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.CO2Tracker"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            android:configChanges="locale|orientation|screenSize" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:configChanges="locale|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.CO2Tracker"
            android:configChanges="locale|orientation|screenSize" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CO2Tracker"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            android:configChanges="locale|orientation|screenSize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>